body {
    margin: 0;
}

.logo-container {
    text-align: center;
}

.logo-container .logo {
    image-rendering: pixelated;
    width: 512px;
    height: 64px;
}

.welcome {
    text-align: center;
    color: magenta;
    font-size: 1.5em;
    font-family: Comic Sans MS;
}